!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %link(href="http://fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext" rel="shortcut icon" rel='stylesheet' type='text/css')
  %body.mail-body
    .row-fluid
      .span12.main-content
        = yield